.calculator{
    width:50vw;
    aspect-ratio: 1/1;
    margin: auto;
    border: 3px solid black;
    border-radius: 8px;
}
.display{
    width: 80%;
    aspect-ratio: 10/1;
    margin: 8px auto;
    border: 1px solid black;
    line-height: 100%;
    text-align: right;
    font-size: 48px;
}
.text{
    padding: 8px 4px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    padding: 8px;
}
.numbers,.operators{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
}

.key{    
    border: 1px solid black;
    border-radius: 8px;
    flex-basis: 30%;
    text-align: center;
    padding: 30px 0;
    margin: 0 2px;
}
.num-0{
    flex-grow: 1;
}
.operators .key{
    flex-basis: 40%;
}